body {
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;
}

header {
    background: #111;
    color: white;
    padding: 20px;
}

main {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    color: #555;
}

.btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border: 6px;
    transition: 0.3s;
}

.btn:hover {
    background: #444;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logo {
    margin: 0;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.7;
}

.nav a.active {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.features {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.feature {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    transition: 0.3s;
}

.feature:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba (0,0,0,0.1);
}

.feature h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    
    .header {
        flex-direction: column;
        gap: 15px;
        }

        .features {
            flex-direction: column;
        }
}

button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

button:hover {
    background-color: darkblue;
    transform: scale(1.05);
}